<div class="footer container-xl width-full p-responsive">
  <div class="flex-row-reverse flex-wrap pt-6 pb-2 mt-6 position-relative d-flex flex-lg-row flex-lg-nowrap flex-justify-center flex-lg-justify-between flex-sm-items-center f6 text-gray border-top border-gray-light">
    <ul class="flex-wrap mb-2 list-style-none d-flex col-12 flex-justify-center flex-lg-justify-between mb-lg-0">
      <li class="mr-3 mr-lg-0">{{ .Site.Copyright | safeHTML }} {{ now.Year }} {{ .Site.Params.author }}</li>
    </ul>
  </div>
</div>
